:root {
    --main-light-color: #ffffff;
    --main-font-color: #757575;
    --secondory-font-color: #212121;
    --accent-color: #2196f3;
    --accent-color-hero-button: #188ce8;
    --logo-color: #000000;
    --border-bg-color: #2f303a;
    --section-team-bg-color: #f5f4fa;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --border-color-works-list: #EEEEEE;
    --background-color-footer-icon: rgba(255, 255, 255, 0.1);
    --icon-color: #AFB1B8;
    --background-color-description-work: rgba(47, 48, 58, 0.8);
    --background-color-description-works: rgba(33, 150, 243, 0.9);
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
    --backgrond-color-icon-db: #212121;
    --input-border-color: rgba(33, 33, 33, 0.2);
    --accent-color-submit-button: #2196f3;
    --accent-second-color-submit-button: #188ce8;
}

/*Global styles*/
body {
    background-color: var(--main-light-color);
    color: var(--main-font-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
margin-top: 0;
margin-bottom: 0;
} 
.link-nav.current {
    color: var(--accent-color)
}
.current::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;   
}
img {
    display: block;
}

/* Logo */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-color {
    color: var(--logo-color);
}
.logo-footer-color {
    color: var(--main-light-color);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    align-items: inherit;
}
.list-nav {
    display: flex;
    margin-left: 93px;
}
.list-nav-item {
    margin-left: 50px;
}
.list-nav-item:first-child {
    margin-left: 0;
}
.list-connection {
    display: inline-flex;
}
.list-connection-item {
    margin-left: 50px;
}
.list-connection-item:first-child {
    margin-left: 0;
}
.connection {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    fill: var(--main-font-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connection:hover, 
.connection:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: var(--secondory-font-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}
/* main */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.no-padding {
    padding-top: 0;
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: var(--secondory-font-color);
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
}

.link {
    color: var(--link-footer-color);
    text-decoration: none;
    font-style: normal;
}
.link-map {
    color: var(--main-light-color);
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.03em;
}

/* hero */
.hero-container {
    object-position: contain;
}

.hero-section {
    background-color: var(--border-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background: ;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: var(--main-light-color);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
}
/* Feature */
.icon-feature {
    background-color: var(--section-team-bg-color); 
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 20px;
}
.list-item {
    width: 270px;
    margin-left: 30px;
}
.list-item:first-child {
    margin-left: 0;
}
.list-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--secondory-font-color);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
}
.list-info {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.list-text {
    letter-spacing: 0.03em;
}
/* Work */
.list-work {
    display: flex;
    padding-left: 0;
    gap: 30px;
}

/* Team */
.section-team {
    background-color: var(--section-team-bg-color);
}
.list-team {
    display: flex;
    padding-left: 0;
    text-align: center;
}
.list-team-item {
    background-color: var(--main-light-color);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.list-team-item:first-child {
    margin-left: 0;
}
.description {
    padding: 30px;
}
.work-thumb {

    position: relative;
}
.description-work {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
     background-color: var(--background-color-description-work);
   

}
.description-work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
}
.list-team-title {
    color: var(--secondory-font-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.list-team-text {
    color: var(--main-font-color);
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
}
.list-team-icon {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}
.list-team-icon-item {
    width: 44px;
    height: 44px;
    
    fill: var(--icon-color);
}
.link-icon {
    display: flex;
    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    padding: 12px;
    border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link-icon:hover,
.link-icon:focus {
    background-color: var(--accent-color);
    fill: var(--main-light-color);
}

/* clients */

.list-clients {
    display: flex;
    gap: 30px;
}

.list-clients-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-clients-item:hover,
.list-clients-item:focus {
    border-color: var(--accent-color);
}
.link-clients-icon:hover,
.link-clients-icon:focus {
    fill: var(--accent-color);
}
.footer-social-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-light-color);
}
/* visuall hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Footer */

.footer-content {
    background-color: var(--border-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
}
.logo-footer {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-info {
    padding-left: 0;
}

.footer-contacts {
    margin-top: 20px;
}
.footer-list-item {
    margin-top: 9px;
}
.footer-list-item:first-child {
    margin-top: 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}
.social-network {
    margin-left: 93px;
}
.list-footer-icon {
    display: flex;
    margin-top: 20px;
}
.list-footer-icon-item {
    display: inherit;
    width: 44px;
    height: 44px;
    background-color:var(--background-color-footer-icon);
    border-radius: 50%;
    margin-left: 10px;
    fill: var(--main-light-color);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-footer-icon-item:hover,
.list-footer-icon-item:focus {
    background-color: var(--accent-color);
    
}
.list-footer-icon-item:first-child {
    margin-left: 0;
}
.footer-link-icon {
    display: flex;
    width: 100%;
    height: 100%;
    fill: var(--main-light-color);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;  
}.footer-submit-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
}
.mailing-list {
    margin-left: 93px;
}

.footer-submit-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
}
.footer-icon-send {
    margin: 3px 0 3px 10px;
}
.footer-input {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    background-color: var(--border-bg-color) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);      
}
.footer-submit-button {
    display: flex;
    padding: 10px 28px;
    margin-left: 12px;
    flex-wrap: nowrap;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-button:hover,
.footer-submit-button:focus {
    background-color: var(--accent-second-color-submit-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form{
    margin-top: 20px;
}
.label-footer {
    display: flex;
}
/* portfolio */

/* button portfolio */
.filter {
    display: flex;
    justify-content: center;
}
.filter-item {
    margin-left: 8px;
}
.filter-item:first-child {
    margin-left: 0;
}
.filter {
    margin-bottom: 50px;
}

/* works */
.works {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.link-works {
    text-decoration: none;
    color: inherit;
}
.list-works-item {
    width: 370px;
    border: 1px solid var(--border-color-works-list);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-works-item:hover,
.list-works-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-thumb {
    position: relative;
    overflow: hidden;
}


.list-works-item:hover .description-works,
.list-works-item:focus .description-works {
    transform: translateY(0);
    
    
}
.description-works {

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 24px;
        width: 100%;
        height: 100%;
        background-color: var(--background-color-description-works);
        transform: translateY(100%);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description-works-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
}
.description-works-product {
    padding: 20px 24px;
}
.list-works-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--secondory-font-color);
        margin-bottom: 4px;
}
.list-works-text {
        font-size: 16px;
        line-height: 1.88;

}

/* button */
.button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        
        background-color: var(--section-team-bg-color);
        color: var(--secondory-font-color);
        cursor: pointer;
        font-family: inherit;
        border: 0;
        border-radius: 4px;
        padding: 6px 22px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--main-light-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
    background-color: var(--accent-color-hero-button);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal window */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-backdrop);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;  
     
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px 40px;
    opacity: 1;
    background-color: var(--main-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.button-icon-close {  
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px; 
    padding: 0;
    justify-content: center;
    align-items: center;

    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

}
.icon-close:hover,
.icon-close:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.backdrop-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondory-font-color);
        margin-bottom: 30px;
} 
.form {
    display: block;
}
.label {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 28px;
}
.label:first-child {
    margin-top: 0;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    padding-left: 42px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.label:focus-within {
    fill: var(--accent-color);
}
.label:focus-within .input {
    outline: none;
    border-color: var(--accent-color)
}
.coments {
    display: block;
    resize: none;
    height: 120px;
    padding: 12px 16px;
}
.icon-bd {
    position: absolute;
    top: 2px;
    left: 12px;
    transform: translateY(50%);
    width: 18px;
    height: 18px;
}
.name-label {
    position: absolute;
    top: -25px;
    left: 0;
}
.label-checkbox {
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: 14px;
}

.input-checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.icon-check-bg {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .icon-check-bg {
    background: url(../images/icon-check.svg);
    background-color: var(--accent-color);
    
    border-color: var(--accent-color);
    background-position: center;
    background-size: contain;
    background-origin: border-box;
}

.link-checkbox-bd {
    color: var(--accent-color);
}

.input-text-bd {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;    
        color: var(--main-font-color);
}
.submit-button-bd {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    
    color: var(--main-light-color);
    background-color: var(--accent-color-submit-button);
    border-radius: 4px;
    border: none;       
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.submit-button-bd:hover,
.submit-button-bd:focus {
    background-color: var(--accent-second-color-submit-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

